@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@import "./colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

@mixin flex($jc) {
  display: flex;
  align-items: center;
  justify-content: $jc;
}

body {
  @media screen and (min-width: 768px) {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  background-color: $Very-dark-blue;
  color: $Pale-Blue;
  width: 100%;
  padding: 2rem 1rem;
  font-size: 18px;
  font-weight: 300;
}

main {
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 180px);
  }

  display: grid;
  gap: 1rem;
}

.profile-card {
  @media screen and (min-width: 768px) {
    grid-area: 1/1 / span 2 / span 1;
  }

  background-color: $Dark-blue;
  border-radius: 0.8rem;
  overflow: hidden;

  .profile {
    @media screen and (min-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 1.5rem;
    }

    @include flex(flex-start);

    background-color: $Blue;
    border-radius: 0.8rem;
    padding: 1.5rem 2rem;

    img {
      @media screen and (min-width: 768px) {
        margin-bottom: 1rem;
        width: 35%;
      }

      width: 25%;
      border: 2px solid white;
      border-radius: 50%;
      margin-right: 1.2rem;
    }

    .status {
      font-size: 12px;
    }

    .name {
      @media screen and (min-width: 768px) {
        font-size: 28px;
        margin-bottom: 2rem;
      }
      font-size: 24px;
      color: white;
    }
  }

  .time-span {
    @media screen and (min-width: 768px) {
      display: grid;
    }

    @include flex(space-between);
    padding: 1rem 2rem;
    font-weight: 400;

    p {
      &:hover {
        color: white;
        cursor: pointer;
      }
      margin-bottom: 1rem;

      @media screen and (min-width: 768px) {
        &:nth-of-type(3) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.card {
  .card-background {
    @media screen and (min-width: 768px) {
      background-size: 25%;
      background-position-y: -3%;
    }

    padding-top: 2rem;
    border-radius: 0.8rem;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: 18%;
    background-position-x: 95%;
    background-position-y: -10%;

    .card-data {
      &:hover {
        background-color: $Desaturated-blue;
        cursor: pointer;
      }
      transition: 0.3s;

      background-color: $Dark-blue;
      border-radius: 0.8rem;
      padding: 1.5rem;

      .topic,
      .time-data {
        @include flex(space-between);
      }

      .topic {
        @media screen and (min-width: 768px) {
          margin-bottom: 1rem;
          color: white;
        }

        svg {
          &:hover {
            path {
              fill: white;
            }
          }
        }

        font-weight: 500;
      }

      .time-data {
        @media screen and (min-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }

        h1 {
          font-weight: 300;
          color: white;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

.work {
  .card-background {
    background-color: $Light-red-work;
    background-image: url(../images/icon-work.svg);
  }
}

.play {
  .card-background {
    background-color: $Soft-blue-play;
    background-image: url(../images/icon-play.svg);
  }
}

.study {
  .card-background {
    background-color: $Light-red-study;
    background-image: url(../images/icon-study.svg);
  }
}

.exercise {
  .card-background {
    background-color: $Lime-green-exercise;
    background-image: url(../images/icon-exercise.svg);
  }
}

.social {
  .card-background {
    background-color: $Violet-social;
    background-image: url(../images/icon-social.svg);
  }
}

.self-care {
  .card-background {
    background-color: $Soft-orange-self--care;
    background-image: url(../images/icon-self-care.svg);
  }
}

.color {
  color: green;
}
